@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+RO:wght@100..400&display=swap');
.container{
    margin: auto;
    margin-top: 50px;
    text-align: center;
    width: 60vw;
    height: 90vh;
    background-color: rgb(255, 232, 207);
    border: 5px solid rgb(84, 79, 44);
}
h1{
    font-family: "Playwrite RO", cursive;
    font-optical-sizing: auto;
}
h3{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;letter-spacing: 1px;
}
img{
    border-radius: 20px;
}
label{
    font-weight: bold;
    font-family: sans-serif;
}
table{
    margin: auto;
    font-family: sans-serif;
    margin-top: 20px;
    border:none;
}
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}
ul{
    margin: 30px;
    list-style: none;
}